:root{
    --naranja: yellow;
    --negro-1: #070707;
    --negro-2: rgb(0, 0, 0);
    --negro-banner: #060607;
    --blanco-1: rgb(255, 255, 255)
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--negro-1);
    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
    align-items: center;
    padding: 20px;
}

.container {
    width: 640px;
    max-width: 640px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('../assets/planeta-fondo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    mask-image: linear-gradient(black 90%, transparent);
}
.social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.social-links a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: var(--blanco-1);
}
.social-links a:last-child {
    margin-right: 0;
}
.social-links a:hover{
    color: var(--naranja);
}
form {
    padding: 20px;
    border-radius: 8px;
}
form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--naranja);
}
form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background: transparent;
    color: var(--blanco-1);
}
form textarea {
    height: 100px;
}
form input[type="submit"] {
    background-color: var(--naranja);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
}
form input[type="submit"]:hover {
    background-color: var(--negro-banner);
}

