:root{
    --naranja: #E6521C;
    --negro-1: rgb(34, 34, 34);
    --negro-2: rgb(0, 0, 0);
    --negro-banner: rgb(19, 19, 19);
    --blanco-1: rgb(255, 255, 255)
}

body{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background-color: var(--negro-1);
        font-family: 'Roboto', sans-serif;
}

/*---------------ESTILOS HEADER*------------------------*/

header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
}

#menu-mobile{
    display: none;
}

.container-link-logo{
    text-decoration: none;
    display: flex;
    align-items: baseline;
}

.container-link-logo img{
    display: block;
}

.container-link-logo h1{
    display: none;
}

.header-links-mobile{
    position: absolute;
    top: 99px;
    right: 1px;
    width: 90%;
    list-style: none;
    background-color: var(--negro-1);
    padding: 20px 15px;
    border-radius: 10px;
    display: block;
}

.header-links-mobile a{
    text-decoration: none;
    font-size: 20px;
    color: var(--naranja);
    display: inline-block;
    padding-bottom: 8px;
}

.header-links-tablet-desktopt{
    display: none;
}

.container-links-header li{
    margin-bottom: 10px;
}

.container-links-header a{
    text-decoration: none;
    color: var(--blanco-1);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container-links-header a:hover{
    color: var(--naranja);
}

/*------------ESTILOS DEL BANNER-----------------*/
.container-banner{
    padding: 100px 70px;
    background-color: var(--negro-banner);
}

.container-banner h3{
    color: rgb(166, 166, 166);
    font-size: 50px;
    height: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    
}

.container-banner h2{
    color: var(--blanco-1);
    font-size: 30px;
    height: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.container-banner h1{
    color: var(--blanco-1);
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.container-banner .button-contact{
    display: inline-flex;
    margin-top: 20px;
    background-color: var(--naranja);
    color: var(--blanco-1);
    text-decoration: none;
    padding: 5px 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.imagen-perfil{
    position: absolute;
    top: 490px;
    left: calc(50% - 70px);
}

.imagen-perfil img{
    width: 140px;
    border-radius: 50%;
    border: 5px solid var(--blanco-1)
}



/*----------------------SOBRE MI------------*/
.sobreMi{
    padding: 50px 20px;
    background-color: var(--negro-1);
}

.sobreMi h1{
    text-align: center;
    color: var(--naranja);
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.container-sobreMi p{
    color: var(--blanco-1);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 30px;
    text-wrap: balance;
}

.container-sobreMi strong{
    color: var(--naranja);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container-sobreMi h2{
    color: var(--naranja);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container-sobreMi-contacts article{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.skills h1{
    color: var(--blanco-1);
}

.skills div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.container-links-redes{
    display: flex;
    justify-content: center;
    list-style: none;
}

.container-links-redes li{
    padding: 5px 5px;
    border: 1px solid var(--naranja);
    border-radius: 8px;
    margin-right: 10px;
    transition: 0.3s;
}

.container-links-redes li:hover{
    transform: scale(1.1);
    background-color: var(--naranja);
}

@media(min-width: 768px) {

    .container-link-logo img{
        display: none;
    }

    .container-link-logo h1{
        display: block;
        letter-spacing: 3px;
        font-size: 30px;
        color: var(--naranja);
        font-weight: 600;
    }
    

    .menuLogo{
        display: none;
    }
    
    .header-links-tablet-desktopt{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        position: relative;
    }
    
    .header-links-tablet-desktopt li{
        margin-left: 60px;
    }
    
    .header-links-tablet-desktopt a{
        text-decoration: none;
        color: var(--blanco-1);
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        transition: 0.3s;
    }

    .header-links-tablet-desktopt a:hover{
        transform: scale(1.1);
        color: var(--naranja);
    }
    
    /*------------ESTILOS DEL BANNER--------------*/
    
    .container-banner h3{
       
        font-size: 80px;
    }
    
    .container-banner h2{
        font-size: 70px;
    }
    
    .container-banner h1{
        font-size: 70px;
    }
    
    .container-banner .button-contact{
        padding: 15px 20px;
    }
    
    .imagen-perfil{
        top: 667px;
        left: calc(50% - 90px);
    }
    
    .imagen-perfil img{
        width: 180px;
    }
    
    /*---------------SOBRE MI-----------------*/
    .sobreMi{
        padding: 50px 100px;
    }
    
    .sobreMi h1{
        font-size: 40px;
    }
    
    .container-links-redes{
        justify-content: center;
    }
    
    
}