:root{
    --naranja: yellow;
    --negro-1: #070707;
    --negro-2: rgb(0, 0, 0);
    --negro-banner: #060607;
    --blanco-1: rgb(255, 255, 255)
}

body{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background-color: var(--negro-2);
        font-family: 'Roboto', sans-serif;
        position: relative;
}

ul{
    list-style: none;
}

.inactive{
    display: none;
}

.icono-watts{
    position: fixed;
    top: 90%;
    left: 85%;
    cursor: pointer;
    transition: 0.3s;
}

.icono-watts:hover{
    transform: scale(1.1);
    width: 50px;
}

.scrollElement{
    opacity: 1;
    transform: translateY(60px);
    transition: opacity 2.5s ease, transform 2.5s ease;
}

.kraken-title{
    background: linear-gradient(to top left, var(--naranja), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*---------------ESTILOS HEADER*------------------------*/
.baner{
    height: 100vh;
    background-image: url("../assets/espacio2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    mask-image: linear-gradient(black 80%, transparent);
}


header{
    /*position: relative;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
}

.container-link-logo{
    text-decoration: none;
    display: flex;
    align-items: baseline;
}

.container-link-logo img{
    display: block;
    width: 50px;
}

.container-link-logo h1{
    display: none;
}

.container-menuMobile{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    list-style: none;
    background-color: var(--negro-1);
    border-radius: 10px;
}

.container-menuMobile .containerLogoCerrar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 5px;
}


.container-menuMobile .containerLogoCerrar .logo-cerrar{
    width: 30px;
}

.container-menuMobile .containerLogoCerrar h1{
    color: white;
}
.container-menuMobile ul li a{
    text-decoration: none;
    font-size: 20px;
    color: var(--naranja);
    display: inline-block;
    padding-bottom: 8px;
}

.header-links-tablet-desktopt{
    display: none;
}

.menuLogo{
    width: 40px;
}

.container-links-header li{
    margin-bottom: 10px;
}

.container-links-header a{
    text-decoration: none;
    color: var(--blanco-1);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container-links-header a:hover{
    color: var(--naranja);
}

/*------------ESTILOS DEL BANNER-----------------*/
.container-banner{
    padding: 100px 70px;
}

.container-banner .textContainer-hello{
    font-size: 2rem;
    font-weight: bold;
    opacity: 1;
}

.container-banner .textContainer-hello .letter{
    color: rgb(166, 166, 166);
    /*font-size: 50px;*/
    height: 10px;
    font-family: 'Roboto', sans-serif;
    /*font-weight: 500;*/
    animation: fadeIn 1s forwards;
    opacity: 0;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes showText {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .container-banner .textContainer-hello .letter:nth-child(1) {
    animation-delay: 0.5s;
  }
  
  .container-banner .textContainer-hello .letter:nth-child(2) {
    animation-delay: 1s;
  }
  
  .container-banner .textContainer-hello .letter:nth-child(3) {
    animation-delay: 1.5s;
  }
  
  .container-banner .textContainer-hello .letter:nth-child(4) {
    animation-delay: 2s;
  }

  .container-banner .textContainer-hello .letter:nth-child(5) {
    animation-delay: 2.5s;
  }


.container-banner .textContainer-world{
    font-size: 1rem;
    font-weight: 500;
    opacity: 1;   
    color: var(--blanco-1);
    font-family: 'Roboto', sans-serif;
    opacity: 1;
}

.container-banner .textContainer-world .letter{
    animation: fadeIn 1s forwards;
    opacity: 0;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes showText {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .container-banner .textContainer-world .letter:nth-child(1) {
    animation-delay: 3.0s;
  }
  
  .container-banner .textContainer-world .letter:nth-child(2) {
    animation-delay: 3.5s;
  }
  
  .container-banner .textContainer-world .letter:nth-child(3) {
    animation-delay: 4.0s;
  }
  
  .container-banner .textContainer-world .letter:nth-child(4) {
    animation-delay: 4.5s;
  }

  .container-banner .textContainer-world .letter:nth-child(5) {
    animation-delay: 5.0s;
  }

#parpadeo{
    animation: parpadeo 0.3s infinite alternate;
}
@keyframes parpadeo {
        0%{
            opacity: 1;
        }

        100%{
            opacity: 0;
        }
}

.container-banner .button-contact{
    display: inline-flex;
    margin-top: 20px;
    background-color: var(--naranja);
    color: var(--negro-2);
    text-decoration: none;
    padding: 5px 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    transition: 0.3s;
}

.container-banner .button-contact:hover{
    background-color: var(--negro-1);
    color: var(--naranja);
    transform: scale(1.1);
}

.imagen-perfil{
    position: absolute;
    top: 406px;
    left: calc(50% - 70px);
}

.imagen-perfil img{
    width: 140px;
    border-radius: 50%;
    border: 5px solid var(--blanco-1);
    animation: floatingIcon 3s infinite 0.4s;
}

@keyframes floatingIcon {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-9px);
    }
    100% {
      transform: translateY(0);
    }
  }



/*----------------------SOBRE MI------------*/
.sobreMi{
    padding: 20px 20px 0px 10px;
    background-color: var(--negro-2);
}

.sobreMi h1{
    text-align: center;
    color: var(--naranja);
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.container-sobreMi p{
    color: var(--blanco-1);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 30px;
    text-wrap: balance;
}

.container-sobreMi strong{
    color: var(--naranja);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container-sobreMi h2{
    color: var(--naranja);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container-sobreMi-contacts article{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.skills h1{
    color: var(--blanco-1);
}

.skills div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;  
}

.skills div article{
    width: 100px;
    border: 1px solid var(--naranja);
    padding: 8px;
    color: white;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 8px;
}

.proyecto-relevante{
    background-color: var(--negro-2);
    padding: 20px 20px;
}

.proyecto-relevante h1{
    color: var(--blanco-1);
    text-align: center;
}

.proyecto-relevante .container-relevante{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 20px;
}

.proyecto-relevante .relevante-img img{
    width: 100%;
}

.proyecto-relevante .relevante-descripcion .descripcion{
    color: var(--blanco-1);
}

.proyecto-relevante .relevante-descripcion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.proyecto-relevante .relevante-descripcion .buttons-descripcion{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.proyecto-relevante .relevante-descripcion .buttons-descripcion a{
    text-decoration: none;
    font-weight: 600;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--naranja);
    color: var(--negro-1);
    display: inline-block;
}

.proyecto-relevante .relevante-descripcion .buttons-descripcion a:hover{
    background-color: var(--blanco-1);
}

footer{
    padding: 30px 20px;
    background-color: var(--negro-1);
}

.container-links-redes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    list-style: none;
    padding-top: 30px;
}

.container-links-redes a{
    padding: 5px 5px;
    border: 1px solid var(--naranja);
    border-radius: 8px;
    transition: 0.3s;
}

.container-links-redes a:hover{
    transform: scale(1.1);
    background-color: var(--naranja);
}

@media(min-width: 768px) {
    .inactive{
        display: none;
    }
    .container-menuMobile{
        display: none;
    }

    .container-link-logo img{
        display: none;
    }

    .container-link-logo h1{
        display: block;
        letter-spacing: 3px;
        font-size: 30px;
        color: var(--naranja);
        font-weight: 600;
    }
    

    .menuLogo{
        display: none;
    }
    
    .header-links-tablet-desktopt{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        position: relative;
    }
    
    .header-links-tablet-desktopt li{
        margin-left: 60px;
    }
    
    .header-links-tablet-desktopt a{
        text-decoration: none;
        color: var(--blanco-1);
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        transition: 0.3s;
    }

    .header-links-tablet-desktopt a:hover{
        transform: scale(1.1);
        color: var(--naranja);
    }
    
    /*------------ESTILOS DEL BANNER--------------*/
    
    .container-banner h3{
       
        font-size: 80px;
    }
    
    .container-banner h2{
        font-size: 70px;
    }
    
    .container-banner h1{
        font-size: 70px;
    }
    
    .container-banner .button-contact{
        padding: 15px 20px;
    }
    
    .imagen-perfil{
        top: 453px;
        left: calc(50% - 50px);
    }
    
    .imagen-perfil img{
        width: 180px;
    }

    .container-banner .textContainer-hello{
        font-size: 4rem;
    }

    .container-banner .textContainer-world{
        font-size: 2rem;
    }
    
    /*---------------SOBRE MI-----------------*/
    .sobreMi{
        padding: 83px 83px 20px 100px;
    }
    
    .sobreMi h1{
        font-size: 40px;
    }
    
    .container-links-redes{
        justify-content: center;
    }

    .proyecto-relevante .container-relevante{
        grid-template-columns: 1fr 1fr;
    }

    footer{
        padding: 50px 20px;
    }
    
    
}