:root{
    --naranja: yellow;
    --negro-1: #070707;
    --negro-2: rgb(0, 0, 0);
    --negro-banner: #060607;
    --blanco-1: rgb(255, 255, 255)
}



.seccion-html-css{
    background-image: linear-gradient(45deg, var(--negro-1) var(--negro-banner));
    padding: 20px 20px;
}

.seccion-html-css-js{
    padding: 20px 20px;
}

.seccion-proyectos h1{
    text-align: center;
    color: var(--blanco-1);
    font-size: 30px;
}

.seccion-proyectos .container-cards-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 60px;
    justify-items: center;
}

.seccion-proyectos .container-cards-grid .card{
     background-color: var(--negro-2);
     border-radius: 8px;
     box-shadow: 0 4px 8px rgb(89 89 89);
     transition: 0.3s;
     overflow: hidden;
     cursor: pointer;
}

.seccion-proyectos .container-cards-grid .card:hover{
    transform: scale(1.1);
}

.container-cards-grid .card h2{
    color: var(--naranja);
    font-weight: 400;
}

.container-cards-grid .card a{
    text-decoration: none;
    background-color: var(--naranja);
    padding: 5px 5px;
    color: var(--negro-2);
}

.container-cards-grid .card .repositorio{
    border: 1px solid var(--naranja);
    color: var(--blanco-1);
    background-color: var(--negro-banner);
    margin-right: 10px;
}

.seccion-proyectos .container-cards-grid img{
    width: 300px;
}

.container-cards-grid .card div{
    padding: 10px 10px;
}

.card .container-icons img{
    width: 48px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }
  
  .popup {
    position: fixed;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--negro-banner);
    padding: 20px;
    border-radius: 10px;
    display: none;
  }

  .popup .card img{
    width: 100%;
  }

  .popup .card div h2{
    color: var(--naranja);
    font-weight: 200;
  }

  .popup .card div p{
    color: white;
    line-height: 25px;
  }

  @media (max-width: 640px){
    .popup{
        width: 270px;
    }
  }