:root{
    --naranja: #E6521C;
    --negro-1: rgb(34, 34, 34);
    --negro-2: rgb(0, 0, 0);
    --negro-banner: rgb(19, 19, 19);
    --blanco-1: rgb(255, 255, 255)
}

#menu-mobile{
    display: none;
}

.seccion-html-css{
    background-color: var(--negro-banner);
    padding: 20px 20px;
}

.seccion-html-css-js{
    padding: 20px 20px;
}

.seccion-proyectos h1{
    text-align: center;
    color: var(--blanco-1);
    font-size: 30px;
}

.seccion-proyectos .container-cards-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 60px;
    justify-items: center;
}

.seccion-proyectos .container-cards-grid .card{
     background-color: var(--negro-1);
     border-radius: 8px;
     box-shadow: 0 4px 8px var(--negro-2);
     transition: 0.3s;
     overflow: hidden;
}

.seccion-proyectos .container-cards-grid .card:hover{
    transform: scale(1.1);
}

.container-cards-grid .card h2{
    color: var(--naranja);
    font-weight: 400;
}

.container-cards-grid .card a{
    text-decoration: none;
    background-color: var(--naranja);
    padding: 5px 5px;
    color: var(--negro-2);
}

.container-cards-grid .card .repositorio{
    border: 1px solid var(--naranja);
    color: var(--blanco-1);
    background-color: var(--negro-1);
    margin-right: 10px;
}

.seccion-proyectos .container-cards-grid img{
    width: 300px;
}

.container-cards-grid .card div{
    padding: 10px 10px;
}

.card .container-icons img{
    width: 48px;
}