#menu-mobile{
    display: none;
}

.seccion-html-css{
    background-color: rgb(19, 19, 19);
    padding: 20px 20px;
}

.seccion-html-css-js{
    padding: 20px 20px;
}

.seccion-proyectos h1{
    text-align: center;
    color: white;
    font-size: 30px;
}

.seccion-proyectos .container-cards-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 60px;
    justify-items: center;
}

.seccion-proyectos .container-cards-grid .card{
     background-color: rgb(34, 34, 34);
     border-radius: 8px;
     box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.container-cards-grid .card h2{
    color: #E6521C;
    font-weight: 400;
}

.container-cards-grid .card a{
    text-decoration: none;
    background-color: #E6521C;
    padding: 5px 5px;
    color: black;
}

.container-cards-grid .card .repositorio{
    border: 1px solid #E6521C;
    color: white;
    background-color: rgb(34, 34, 34);
    margin-right: 10px;
}

.seccion-proyectos .container-cards-grid img{
    width: 300px;
}

.container-cards-grid .card div{
    padding: 10px 10px;
}

/*@media (max-width: 768px){
    .seccion-proyectos .container-cards-grid{
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 15px;
    }
}

@media (max-width: 480px){
    .seccion-proyectos .container-cards-grid{
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 15px;
    }
}*/